img {
  margin-top: 12rem;
  width: 50%;
  height: fit-content;

  @media (max-width: 1000px) {
    margin-top: 6rem;
    width: 80%;
    max-height: 400px;
  }
  @media (max-width: 600px) {
    width: 96%;
    max-height: 300px;
  }
}
