.questions__checkBox {
  padding: 20px 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.questions__singleQuestion {
  margin: 0 20px 10px 20px;
  font-weight: 400;
}

.questions__input {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.scrollable {
  background: rgba(50, 47, 47, 0.18);
  height: 8rem;
  overflow-y: scroll;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  * {
    color: white;
  }
}

.createButton {
  margin-top: 6rem;
  margin-bottom: 18rem;
  background-color: greenyellow;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    transition: ease-in-out 125ms;
    transform: scale(1.1);
  }
}
