<section class="margin--tb--4rem borderRadius--16">
  <span>
    Hello. This is willie. A smart organizer that knows exactly how to improve
    skills and maximize your personal learn effect in every topic or area.
    Within 10 Minutes you get a complete plan for a week or month.
    <br /><br />
    Willie asks some questions about you and your way of learning. It works with
    the pomodoro principle, as well as an intelligent and individual learning
    plan. <br /><br />
    <p>So let's go and answer the questions!</p>
  </span>
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">What's your name?</p>
  <input #userName [(ngModel)]="answers.userName" maxlength="14" type="text" />
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">How old are you?</p>
  <input
    #userAge
    [(ngModel)]="answers.userAge"
    min="6"
    maxlength="3"
    type="number"
  />
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">What do you want to learn?</p>
  <input
    #userTopic
    [(ngModel)]="answers.userTopic"
    maxlength="14"
    type="text"
  />
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">What's your goal? Describe!</p>
  <input
    #userGoal
    [(ngModel)]="answers.userGoal"
    id="userGoal"
    maxlength="20"
    type="text"
  />
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">How many hours a week do you work?</p>
  <input [(ngModel)]="answers.workPerWeek" maxlength="3" type="number" />
</section>

<section>
  <p class="questions__singleQuestion">
    How much time do you need for yourself / life?
  </p>
</section>

<section class="scrollable margin--b--4rem borderRadius--16">
  <div class="questions__checkBox">
    <button (click)="answers.lifePerDay = 2"></button>
    <p>2 hours a day</p>
  </div>

  <div class="questions__checkBox">
    <button (click)="answers.lifePerDay = 4"></button>
    <p>4 hours day</p>
  </div>

  <div class="questions__checkBox">
    <button (click)="answers.lifePerDay = 6"></button>
    <p>6 hours a day</p>
  </div>

  <div class="questions__checkBox">
    <button (click)="answers.lifePerDay = 8"></button>
    <p>8 hours a day</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">
    Which level do you think has the topic?
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button (click)="answers.level = 1"></button>
    <p>LV 1: Easy practice, easy to understand.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.level = 2"></button>
    <p>LV 2: More practice, easy to understand.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.level = 3"></button>
    <p>LV 3: More practice, hard to understand.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.level = 4"></button>
    <p>LV 4: Very much practice, very hard to understand.</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">How you feel while learning?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button (click)="answers.learningSlow = true"></button>
    <p>I'm slow at learning things.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.learningSlow = false"></button>
    <p>I'm fast.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.learningEnduranceGood = false"></button>
    <p>My endurance is rather bad.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.learningEnduranceGood = true"></button>
    <p>I got a big endurance.</p>
  </div>

  <div class="questions__checkBox">
    <button (click)="answers.learningLove = false"></button>
    <p>I hate learning.</p>
  </div>

  <div class="questions__checkBox">
    <button (click)="answers.learningLove = true"></button>
    <p>I love learning.</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">How much time do you have(per day)?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button (click)="answers.minutesPerDay = 0.5"></button>
    <p>Every day max 30 min.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.minutesPerDay = 1"></button>
    <p>Every day max 60 min.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.minutesPerDay = 1.5"></button>
    <p>Every day max 90 min.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.minutesPerDay = 2"></button>
    <p>Every day max 120 min.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.minutesPerDay = 2.5"></button>
    <p>Every day max 150 min.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.minutesPerDay = 3"></button>
    <p>Every day max 180 min.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.moreAtWeekends = true"></button>
    <p>Even more at Weekends.</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">What's your max. of time (per week)?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button (click)="answers.maxHoursPerWeek = 2"></button>
    <p>2 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.maxHoursPerWeek = 4"></button>
    <p>4 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.maxHoursPerWeek = 6"></button>
    <p>6 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.maxHoursPerWeek = 8"></button>
    <p>8 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.maxHoursPerWeek = 10"></button>
    <p>10 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.maxHoursPerWeek = 12"></button>
    <p>12 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.maxHoursPerWeek = 14"></button>
    <p>14 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.maxHoursPerWeek = 16"></button>
    <p>16 hours.</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">
    On which days is learning not possible?
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button (click)="pushNotPossibleDays('monday')"></button>
    <p>Monday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushNotPossibleDays('tuesday')"></button>
    <p>Tuesday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushNotPossibleDays('wednesday')"></button>
    <p>Wednesday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushNotPossibleDays('thursday')"></button>
    <p>Thursday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushNotPossibleDays('friday')"></button>
    <p>Friday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushNotPossibleDays('saturday')"></button>
    <p>Saturday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushNotPossibleDays('sunday')"></button>
    <p>Sunday</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">On which days you got a lot of time?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button (click)="pushGoodDays('monday')"></button>
    <p>Monday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushGoodDays('tuesday')"></button>
    <p>Tuesday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushGoodDays('wednesday')"></button>
    <p>Wednesday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushGoodDays('thursday')"></button>
    <p>Thursday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushGoodDays('friday')"></button>
    <p>Friday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushGoodDays('saturday')"></button>
    <p>Saturday</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="pushGoodDays('sunday')"></button>
    <p>Sunday</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">Your Plan - One week or one month?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button (click)="answers.month = false"></button>
    <p>Week</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.month = true"></button>
    <p>Month</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">
    The last question! Do you want an exact and fixed plan or just a
    recommendation?
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button (click)="answers.planned = true"></button>
    <p>An exact Plan - Every day is planned.</p>
  </div>
  <div class="questions__checkBox">
    <button (click)="answers.planned = false"></button>
    <p>Just a recommendation.</p>
  </div>
</section>

<section class="createButton">
  <p
    (click)="createPlanBtn()"
    routerLink="/plan"
    class="questions__singleQuestion"
  >
    Click here to create your plan!
  </p>
</section>
