<section class="margin--tb--4rem borderRadius--16">
  <span>
    Hello. This is willie. A smart organizer that knows exactly how to improve
    skills and maximize your personal learn effect in every topic or area.
    Within 10 Minutes you get a complete plan for a week or month.
    <br /><br />
    Willie asks some questions about you and your way of learning. It works with
    the promodoro principle, as well as an intelligent and individual learning
    plan. <br /><br />
    <p>So let's go and answer the questions!</p>
  </span>
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">What's your name?</p>
  <input maxlength="14" type="text" />
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">How old are you?</p>
  <input min="6" maxlength="3" type="number" />
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">What do you want to learn?</p>
  <input maxlength="14" type="text" />
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">What's your goal? Describe!</p>
  <input maxlength="20" type="text" />
</section>

<section>
  <p class="questions__singleQuestion">
    How much time do you need for your work and yourself / life?
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button></button>
    <p>Work: 4 hours a day</p>
  </div>

  <div class="questions__checkBox">
    <button></button>
    <p>Work: 6 hours a day</p>
  </div>

  <div class="questions__checkBox">
    <button></button>
    <p>Work: 8 hours a day</p>
  </div>

  <div class="questions__checkBox">
    <button></button>
    <p>Work: 10 hours a day</p>
  </div>
</section>

<section class="scrollable margin--b--4rem borderRadius--16">
  <div class="questions__checkBox">
    <button></button>
    <p>Your life: 4 hours</p>
  </div>

  <div class="questions__checkBox">
    <button></button>
    <p>Your life: 6 hours</p>
  </div>

  <div class="questions__checkBox">
    <button></button>
    <p>Your life: 8 hours</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">
    Which level do you think has the topic?
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button></button>
    <p>Level 1: Easy to practice, easy to understand.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Level 2: More practice, easy to understand.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Level 3: More practice, hard to understand.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Level 4: Very much practice, very hard to understand.</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">How you feel while learning?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button></button>
    <p>I'm slow at learning things.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>I got a big endurance.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>My endurance is rather bad.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>I hate learning.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>I don't know, it depends.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>I love learning.</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">How much time do you have(per day)?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button></button>
    <p>Every day max 30 min.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Every day max 60 min.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Every day max 120 min.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>It depends.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>More at Weekends.</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">What's your max. of time (per week)?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button></button>
    <p>2 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>4 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>6 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>8 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>10 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>12 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>14 hours.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>16 hours.</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">
    On which days is learning not possible?
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button></button>
    <p>Monday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Tuesday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Wednesday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Thursday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Friday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Saturday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Sunday</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">On which days you got a lot of time?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button></button>
    <p>Monday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Tuesday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Wednesday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Thursday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Friday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Saturday</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Sunday</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">Your Plan - One week or one month?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button></button>
    <p>Week</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Month</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">
    The last question! Do you want an exact and fixed plan or just a
    recommendation?
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button></button>
    <p>An exact Plan - Every day is planned.</p>
  </div>
  <div class="questions__checkBox">
    <button></button>
    <p>Just a recommendation.</p>
  </div>
</section>

<section class="createButton">
  <p class="questions__singleQuestion">Click here to create your plan!</p>
</section>
