<section class="margin--tb--4rem borderRadius--16">
  <span class="padding16">
    Hello. This is willie. A smart organizer that knows exactly how to improve
    skills and maximize your personal learn effect in every topic or area.
    Within 10 Minutes you get a complete plan for a week or month.
    <br /><br />
    Willie asks some questions about you and your way of learning. It works with
    the pomodoro principle, as well as an intelligent and individual learning
    plan. <br /><br />
    <p>So let's go and answer the questions!</p>
  </span>
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">What's your name?</p>
  <input
    placeholder="name"
    [(ngModel)]="answers.userName"
    maxlength="14"
    type="text"
  />
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">How old are you?</p>
  <input
    placeholder="age"
    [(ngModel)]="answers.userAge"
    maxlength="3"
    type="number"
  />
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">Which skill do you want to learn?</p>
  <input
    placeholder="skill"
    [(ngModel)]="answers.userTopic"
    maxlength="20"
    type="text"
  />
</section>

<section class="questions__input margin--b--4rem borderRadius--16">
  <p class="questions__singleQuestion">
    How many hours a week you have to work?
  </p>
  <input
    [(ngModel)]="answers.workPerWeek"
    placeholder="hours"
    maxlength="3"
    type="number"
  />
</section>

<section>
  <p class="questions__singleQuestion">
    How much freetime do you need every day? And don't be afraid. You already
    have 10 hours a day for sleep, eat and other stuff.
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div
    *ngFor="let min of answers.lifePerDaySteps; let i = index"
    class="questions__checkBox"
  >
    <div class="questions__button__div">
      <button
        [class.disabled]="answers.lifePerDay != min"
        [class.enabled]="answers.lifePerDay == min"
        (click)="answers.lifePerDay = min"
      ></button>
    </div>

    <p>
      <b> {{ min / 60 }}</b> hours a day.
    </p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">
    Which level do you think has your skill? LV1: Easy - LV4: Hard
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div
    *ngFor="let lv of answers.lvSteps; let i = index"
    class="questions__checkBox"
  >
    <button
      [class.disabled]="answers.level != lv"
      [class.enabled]="answers.level == lv"
      (click)="answers.level = lv"
    ></button>
    <p *ngIf="lv == 1">
      <b>LV {{ lv }}</b> : Easy practice, easy to understand.
    </p>
    <p *ngIf="lv == 2">
      <b>LV {{ lv }}</b> : More practice, easy to understand.
    </p>
    <p *ngIf="lv == 3">
      <b>LV {{ lv }}</b> : More practice, hard to understand.
    </p>
    <p *ngIf="lv == 4">
      <b>LV {{ lv }}</b> : Very much practice, very hard to understand.
    </p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">How you feel while learning?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div>
    <div class="questions__checkBox">
      <button
        [class.disabled]="!answers.learningSlow"
        [class.enabled]="answers.learningSlow"
        (click)="answers.learningSlow = true"
      ></button>
      <p>I'm slow at learning things</p>
    </div>
    <div class="questions__checkBox">
      <button
        [class.disabled]="answers.learningSlow"
        [class.enabled]="!answers.learningSlow"
        (click)="answers.learningSlow = false"
      ></button>
      <p>I'm fast</p>
    </div>
  </div>
  <div>
    <div class="questions__checkBox">
      <button
        [class.disabled]="answers.learningEnduranceGood"
        [class.enabled]="!answers.learningEnduranceGood"
        (click)="answers.learningEnduranceGood = false"
      ></button>
      <p>My endurance is rather bad</p>
    </div>
    <div class="questions__checkBox">
      <button
        [class.disabled]="!answers.learningEnduranceGood"
        [class.enabled]="answers.learningEnduranceGood"
        (click)="answers.learningEnduranceGood = true"
      ></button>
      <p>I got a big endurance</p>
    </div>
  </div>
  <div>
    <div class="questions__checkBox">
      <button
        [class.disabled]="answers.learningLove"
        [class.enabled]="!answers.learningLove"
        (click)="answers.learningLove = false"
      ></button>
      <p>I hate learning</p>
    </div>

    <div class="questions__checkBox">
      <button
        [class.disabled]="!answers.learningLove"
        [class.enabled]="answers.learningLove"
        (click)="answers.learningLove = true"
      ></button>
      <p>I love learning</p>
    </div>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">How long do you want to study a day?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div *ngFor="let min of answers.minPerDaySteps" class="questions__checkBox">
    <button
      [class.enabled]="answers.minutesPerDay == min"
      [class.disabled]="answers.minutesPerDay != min"
      (click)="answers.minutesPerDay = min"
    ></button>
    <p>
      Every day max <b>{{ min / 60 }}</b> hours.
    </p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">
    How many hours do you want to study a week?
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div
    *ngFor="let min of answers.maxTimePerWeekSteps"
    class="questions__checkBox"
  >
    <button
      [class.enabled]="answers.maxMinutesPerWeek == min"
      [class.disabled]="answers.maxMinutesPerWeek != min"
      (click)="answers.maxMinutesPerWeek = min"
    ></button>
    <p>
      <b>{{ min / 60 }}</b> hours.
    </p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">
    On which days you can't or don't want to learn?
  </p>
</section>

<section class="scrollable margin--b--4rem">
  <div *ngFor="let button of this.answers.days" class="questions__checkBox">
    <button
      [class.enabled]="answers.notPossibleDays.includes(button)"
      [class.disabled]="!answers.notPossibleDays.includes(button)"
      (click)="pushNotPossibleDays(button)"
    ></button>
    <p>{{ button }}</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">On which days you got a lot of time?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div *ngFor="let button of this.answers.days" class="questions__checkBox">
    <button
      [class.enabled]="answers.goodDays.includes(button)"
      [class.disabled]="!answers.goodDays.includes(button)"
      (click)="pushGoodDays(button)"
    ></button>
    <p>{{ button }}</p>
  </div>
</section>

<section>
  <p class="questions__singleQuestion">Your Plan - One week or one month?</p>
</section>

<section class="scrollable margin--b--4rem">
  <div class="questions__checkBox">
    <button
      [class.enabled]="answers.month"
      [class.disabled]="!answers.month"
      (click)="answers.month = true"
    ></button>
    <p>Month</p>
  </div>
  <div class="questions__checkBox">
    <button
      [class.enabled]="!answers.month"
      [class.disabled]="answers.month"
      (click)="answers.month = false"
    ></button>
    <p>Week</p>
  </div>
</section>

<section (click)="createPlanBtn()" class="createButton">
  <p class="questions__singleQuestion">Click here to create your plan!</p>
</section>
