html {
  font-size: 62.5%;
  background-size: contain;
  scroll-behavior: smooth;
  height: 100%;
  * {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: black;
    font-size: 2.8rem;
  }
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(#8bdd08, #6cc407, #20a006, #045516);
  background-size: 600% 600%;
  @media (max-width: 650px) {
    background-size: 1000% 1000%;
  }
}

p {
  margin: 0;
  font-size: 2.4rem;

  @media (max-width: 650px) {
    font-size: 2rem;
  }
}

input {
  margin: 20px;
  border: transparent;
  background: rgba(134, 202, 8, 0.767);
  padding: 6px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-right: 1px solid rgba(0, 0, 0, 0.459);
}

button {
  margin-left: 26px;
  margin-right: 26px;
  border: none;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: rgb(134, 202, 8);
  }

  @media (max-width: 650px) {
    margin-left: 0;
  }
}

section {
  width: 50%;
  padding: 1.6rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.36);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);

  @media (max-width: 1000px) {
    width: 90%;
  }
}

span {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:focus,
textarea:focus {
  outline: none;
}

.margin--b--4rem {
  margin-bottom: 4rem;
}

.margin--tb--4rem {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.borderRadius--16 {
  border-radius: 16px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(134, 202, 8);
  border-radius: 4px;
}
