<div class="plan">
  <section class="margin--tb--4rem borderRadius--16">
    <div>
      <h1>And here is your plan {{ this.answers.userName }} !</h1>
    </div>
    <div>
      <div>
        First of all: <br />
        The complete plan works with the Pomodoro technique. But willie, what is
        pomodoro?
      </div>
      <br />
      It's a time management from Francesco Cirillo (1980) and stands for
      tomato. That's right! It's a tomato technique. Ok, no it isn't. It gets
      its name from a timer that breaks down tasks into smaller 25min-pieces.
      After a 25 minute task you get a 5 minute break. Also very common are
      tasks with a duration of 50 minutes and 10 minute breaks. The time doesn't
      matter. Study when you have time for it.<br />
      In a nutshell, after every little task of 25 or 50 minutes you get a
      break.
      <br />
      <br />

      But within that period of time, here's what you need to do: <br />
      <br />
      - full concentration <br />
      - no smartphone! Airplane mode and put it away <br />
      - stay hydrated <br />
      - get snacks like some apple pieces or cookies <br />
      - optional: listen to something relaxing like lofi-beats <br />
    </div>

    <div class="plan__icons__exp__div">
      Explanation of the symbols:
      <div class="plan__day">
        <div
          draggable="true"
          class="margin--lr--32 plan__singleSession min50 effect"
        >
          50min
        </div>
        <p class="plan__icons__exp">
          Learn 50 minutes, then a 10 minute break.
        </p>
      </div>
      <div class="plan__day">
        <div
          draggable="true"
          class="margin--lr--32 plan__singleSession min25 effect"
        >
          25min
        </div>
        <p class="plan__icons__exp">Learn 25 minutes, then a 5 minute break.</p>
      </div>
      <div class="plan__day">
        <div
          draggable="true"
          class="margin--lr--32 plan__singleSession icon__div icon__eat"
        >
          <i class="fa-solid fa-apple-whole"></i>
        </div>
        <p class="plan__icons__exp">
          Make a break of 10 minutes. Eat some snacks or make a coffee.
        </p>
      </div>
      <div class="plan__day">
        <div
          draggable="true"
          class="margin--lr--32 plan__singleSession icon__div icon__repeat"
        >
          <i class="fa-solid fa-arrow-rotate-right"></i>
        </div>
        <p class="plan__icons__exp">
          Repeat slowly 10 minutes your notes and don't hurry.
        </p>
      </div>
      <div class="plan__day">
        <div
          draggable="true"
          class="margin--lr--32 plan__singleSession icon__div icon__optional"
        >
          <i class="fa-solid fa-circle-notch"></i>
        </div>
        <p class="plan__icons__exp">
          Optional: Repeat slowly 5 minutes your notes and don't hurry.
        </p>
      </div>
    </div>
  </section>

  <section class="plan__complete margin--tb--4rem effect">
    <div class="plan__day">
      <div>
        <b>{{ this.userLearningAbility }}</b>
      </div>
      <p class="plan__icons__exp">
        Your entered data in numbers. From a maximum factor of <b>1</b> you
        reached <b>{{ this.userLearningAbility }}</b
        >. The higher the number, the easier it is for you to learn the given
        task. <br />
      </p>
    </div>
    <div class="plan__day">
      <p *ngIf="this.userLearningAbility <= 0.25">
        Ok, I got that! You have a tough nut to crack. I will organize your plan
        with short sessions.
      </p>
      <p
        *ngIf="
          this.userLearningAbility > 0.25 && this.userLearningAbility < 0.5
        "
      >
        Not the best value but I will organize your plan with many short and one
        or two long sessions!
      </p>
      <p
        *ngIf="
          this.userLearningAbility >= 0.5 && this.userLearningAbility <= 0.75
        "
      >
        Your value is good! I will organize your plan with a mix of long and
        short sessions.
      </p>
      <p
        *ngIf="this.userLearningAbility > 0.75 && this.userLearningAbility <= 1"
      >
        Your value is great! I will organize your plan with as many long
        sessions as possible if your maximum of minutes per day makes it
        possible.
      </p>
    </div>
    <div class="plan__day icon__hand">
      <i class="fa-solid fa-hand"></i>
      <p class="plan__icons__exp">
        I know your max time, but i will add someday an extra module. If you
        don't like that or your plan, customize it! Grab or delete a session.
      </p>
    </div>
  </section>

  <section
    *ngFor="let week of this.plan.weeks; let i = index"
    class="plan__complete effect"
  >
    <div>{{ this.plan.weeks[i] }}</div>
    <div
      *ngFor="let day of this.plan.days; let d = index"
      class="plan__day"
      id="{{ this.plan.weekNumbers[i] }}{{ this.plan.days[d] }}"
      ondrop="moveTo('week1Monday')"
    >
      <p #day>{{ this.plan.days[d] }}</p>
      <div class="plan__allSessions">
        <div
          id="{{ this.plan.weeks[i] }}{{ this.plan.days[d] }}"
          *ngFor="let module of this.plan[this.plan.weekNumbers[i]][day]"
          ondragover="allowDrop(event)"
        >
          <div
            *ngIf="module == '25min'"
            ondrag="test('25min')"
            draggable="true"
            class="plan__singleSession min25 effect"
            value="25min"
          >
            25min
          </div>
          <div
            *ngIf="module == '50min'"
            draggable="true"
            class="plan__singleSession min50 effect"
            value="50min"
          >
            50min
          </div>
          <div
            *ngIf="module == 'eat'"
            draggable="true"
            class="plan__singleSession icon__div icon__eat"
            value="eat"
          >
            <i class="fa-solid fa-apple-whole"></i>
          </div>
          <div
            *ngIf="module == 'repeat'"
            draggable="true"
            class="plan__singleSession icon__div icon__repeat"
            value="repeat"
          >
            <i class="fa-solid fa-arrow-rotate-right"></i>
          </div>
          <div
            *ngIf="module == 'optional'"
            draggable="true"
            class="plan__singleSession icon__div icon__optional"
            value="optional"
          >
            <i class="fa-solid fa-circle-notch"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section routerLink="" class="backButton effect">
    <p class="backLink">You don't like your plan? Make a new one!</p>
  </section>
</div>
