<div class="plan">
  <section class="margin--tb--4rem borderRadius--16">
    <div>
      <h1>And here is your plan !</h1>
    </div>
    <div>
      First of all: <br />
      The complete plan works with the Pomodoro technique. But willie, what is
      pomodoro?
      <br />
      It's a time management from Francesco Cirillo (1980) and stands for
      tomatoe. That's right! It's a tomatoe technique. Ok, no it isn't. It gets
      its name from a timer that breaks down tasks into smaller 25min-pieces.
      After a 25 minute task you get a 5 minute break. Also very common are
      tasks with a duration of 50 minutes and 10 minute breaks. <br />
      In a nutshell, after every little task of 25 or 50 minutes you get a
      break.
      <br />
      <br />

      But within that time period, here's what you need to do: <br />
      <br />
      - full concentration <br />
      - no smartphone! Airplane mode and put it away <br />
      - stay hydrated <br />
      - get snacks like some apple pieces or cookies <br />
      - listen to something relaxing like lofi-beats <br />
    </div>
    <div class="plan__icons__exp__div">
      Explanation of the symbols:
      <div class="plan__day">
        <div
          draggable="true"
          class="margin--lr--32 plan__singleSession min50 effect"
        >
          50min
        </div>
        <p class="plan__icons__exp">
          Learn 50 minutes, then a 10 minute break.
        </p>
      </div>
      <div class="plan__day">
        <div
          draggable="true"
          class="margin--lr--32 plan__singleSession min25 effect"
        >
          25min
        </div>
        <p class="plan__icons__exp">Learn 25 minutes, then a 5 minute break.</p>
      </div>
      <div class="plan__day">
        <div
          draggable="true"
          class="margin--lr--32 plan__singleSession icon__div icon__eat"
        >
          <i class="fa-solid fa-apple-whole"></i>
        </div>
        <p class="plan__icons__exp">
          Make a break of 10 minutes. Eat some snacks or make a coffee.
        </p>
      </div>
      <div class="plan__day">
        <div
          draggable="true"
          class="margin--lr--32 plan__singleSession icon__div icon__repeat"
        >
          <i class="fa-solid fa-arrow-rotate-right"></i>
        </div>
        <p class="plan__icons__exp">
          Repeat slowly in 10 minutes your notes and don't hurry.
        </p>
      </div>
    </div>
  </section>
  <section class="plan__complete effect">
    <div class="plan__day">
      <p>Monday</p>
      <div class="plan__allSessions">
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession icon__div icon__eat">
          <i class="fa-solid fa-apple-whole"></i>
        </div>
        <div
          draggable="true"
          class="plan__singleSession icon__div icon__repeat"
        >
          <i class="fa-solid fa-arrow-rotate-right"></i>
        </div>
        <div draggable="true" class="plan__singleSession min25 effect">
          25min
        </div>
      </div>
    </div>
    <div class="plan__day">
      <p>Tuesday</p>
      <div class="plan__allSessions">
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min25 effect">
          25min
        </div>
      </div>
    </div>
    <div class="plan__day">
      <p>Wednesday</p>
      <div class="plan__allSessions">
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min25 effect">
          25min
        </div>
        <div draggable="true" class="plan__singleSession min25 effect">
          25min
        </div>
      </div>
    </div>
    <div class="plan__day">
      <p>Thursday</p>
      <div draggable="true" class="plan__allSessions">
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min25 effect">
          25min
        </div>
      </div>
    </div>
    <div class="plan__day">
      <p>Friday</p>
      <div class="plan__allSessions">
        <div draggable="true" class="plan__singleSession min25 effect">
          25min
        </div>
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min25 effect">
          25min
        </div>
      </div>
    </div>
    <div class="plan__day">
      <p>Saturday</p>
      <div class="plan__allSessions">
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min25 effect">
          25min
        </div>
      </div>
    </div>
    <div class="plan__day">
      <p>Sunday</p>
      <div class="plan__allSessions">
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min50 effect">
          50min
        </div>
        <div draggable="true" class="plan__singleSession min25 effect">
          25min
        </div>
      </div>
    </div>
  </section>
  <section class="backButton effect">
    <p routerLink="" class="backLink">
      You don't like your plan? Make a new one!
    </p>
  </section>
</div>
